.main {
    font-family: 'Century Gothic';
    height: 100%;
    width: 100%;
    text-align: center;
}

.mainBlock {
    height: 100vh;
    background-image: url('./../media/images/camping.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.mainRead {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.mainRead h3 {
    font-size: 30pt;
}

.mainRead button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    font-size: 14pt;
    padding: 15px;
    position: relative;
    transition: all 500ms ease;
}


.mainRead button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.bestArticles p{
    font-family: 'Century Gothic';
    font-size: 20pt;
    letter-spacing: 10px;
}
.bestArtItems {
    margin: 0 auto;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@font-face {
    font-family: "Amatic";
    src: url("./../media/fonts/SpaceMono-Italic.ttf");
}

@keyframes buttox {
    from {
        background: linear-gradient(57deg, rgba(33, 36, 0, 0) 0%, rgba(254, 254, 254, 1) 100%);
    }

    to {
        background: linear-gradient(57deg, rgba(33, 36, 0, 0) 0%, rgba(254, 254, 254, 1) 0%);
    }
}